<!DOCTYPE html>
<html>
<head>
<title> Campus Placement Prediction</title>
</head>
<body background="sh.png" style="background-repeat:no-repeat; background-size:100% 100%" text='blue'>
<h1 align="center">
    <b>
<font color= "black">
        <Times New Roman>

            Campus Placement Prediction
        </Times New Roman>
</font>
    </b>
</h1>

<h2 align="center">
<font color="red"> Enter the details to check whether Placement is placed   or not!
</font>
</h2>
<h4>
<form action="/getdata" method="post">

<table align = "center"></br></br>
<tr>
<td>Age<td>:&nbsp&nbsp&nbsp<input type='text' name='Age' placeholder='Enter Age' Enter Numerical part required='required'/><br></br>
</tr>
<tr>
<td>Gender<td>:&nbsp&nbsp&nbsp<input type='text' name='Gender' placeholder='Enter Gender' Enter 1 for Male 0 for Female required='required' /><br></br>
</tr>
<td>Stream<td>:&nbsp&nbsp&nbsp<input type='text' name='Stream' placeholder='Stream' required='required'/><br></br>
</tr>
<tr>
<td>Internships<td>:&nbsp&nbsp&nbsp<input type='text' name='Internships' placeholder='ENTER 0For no1 for yes' required='required' /><br></br>
</tr>
<tr>
<td>CGPA<td>:&nbsp&nbsp&nbsp<input type='text' name='CGPA' placeholder='Enter number 6 7 8' required='required' /><br></br>
</tr>
<tr>
<td>HistoryOfBacklogs<td>:&nbsp&nbsp&nbsp<input type='text' name='HistoryOfBacklogs' placeholder='Enter 0 or 1 ' required='required' /><br></br>
</tr>

<tr>
<td><br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button type="submit" class="btn btn-primary btn-block btn-large"> Predict </button>
</td>
</tr>
</table>

</form>
</h4>

<h2>
<b>

</b>
</h2>
</body>
</html>